::-moz-selection
{
    background-color: #3ef4c6;
    color: #101023;
}
::selection
{
    background-color: #3ef4c6;
    color: #101023;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
    background-color: #101023;
    padding: 10px;
}

.grid-container > div {
    background-color: #10192d;
    border-radius: 10px;
    padding: 40px;
}

.header{
    font-size: 32px;
    line-height: 1px;
}
body
{
    font-family: 'InterRegular';
    color: #3ef4c6;
    background-color: #101023;
}
h1, h4, p
{
    text-shadow: 0px 0px 25px #0086a2;
}
footer{
    text-align: center;
    margin: 50px;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #101023;
  }
  ul li{
    background-color: #10192d;
  }
  /* Darker background-color on hover */
  ul li:hover {
    background: #0086a2;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: black;
    color: green;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    background-color: #101023;
    color: #3ef4c6;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #101023;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #3ef4c6;
    color: #101023;
  }